*{
			list-style: none;
			
		}
			.flexslider {
				position: relative;
				height: 4rem;
				overflow: hidden;
				
			}
			.flexslider img{
				width: 100%;
				height: 3.9rem;
				z-index: 10;
		
			}
		
			.slides {
				position: absolute;
				top: 1rem;
				left: 0.1rem;
				z-index: 30;
			}
			
			.slides li {
				list-style: none;
			}
			
			.slides img {
				width: 90%;
				height: 90%;
			}
			
	
			
			.shenjuan {
				width: 100%;
				height: 1.1rem;
			}
			
			.shenjuan img {
				width: 100%;
				height: 1.1rem;
			}
			
			.flex-control-nav {
				position: absolute;
				top: 7rem;
				z-index: 2;
				width: 100%;
				text-align: center;
			}
			
			.flex-control-nav li {
				display: inline-block;
				width: 14px;
				height: 14px;
				margin: 0 5px;
				*display: inline;
				zoom: 1;
			}
			
			.flex-control-nav a {
				display: inline-block;
				width: 14px;
				height: 14px;
				line-height: 40px;
				overflow: hidden;
				cursor: pointer;
			}
			
			.flex-control-nav .flex-active {
				background-position: 0 0;
			}
			
			.flex-direction-nav {
				position: absolute;
				z-index: 3;
				width: 100%;
				top: 55%;
			}
			
			.flex-direction-nav li a {
				display: block;
				width: 50px;
				height: 50px;
				overflow: hidden;
				cursor: pointer;
				position: absolute;
			}
			
			html {
				font-size: 100px;
			}
			
			div {
				box-sizing: border-box;
			}
			
			body,
			input,
			i,
			a {
				padding: 0;
				margin: 0;
				text-decoration: none;
				outline: none;
				font-size: 0.12rem;
			}
			
			body {
				background: rgb(240, 240, 240);
			}
			
			.header>.top {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 10;
				height: 0.90rem;
				background: #FFFFFF;
				font-size: 0.14rem;
				color: white;
				width: 100%;
				text-align: center;
				padding-left: 0.17rem;
				padding-right: 0.17rem;
				line-height: 0.44rem;
			}
			
			.header:after {
				content: "";
				display: block;
				clear: both;
			}
			
			.top input {
				width: 2.96rem;
				height: 0.24rem;
				position: absolute;
				top: 0.5rem;
				left: 0.4rem;
			}
			
			.top1 {
				background: peachpuff;
				width: 3.84rem;
				height: 0.42rem;
				position: absolute;
				background: #FFFFFF;
				border-bottom: 1px solid #ccc;
				left: -15px;
			}
			
			.top ul {
				margin-left: -0.2rem;
				margin-top: 0.01rem;
			}
			
			.top li {
				list-style: none;
				display: inline;
				color: #666666;
			}
			
			.top1 ul li:nth-of-type(2) {
				color: black;
				padding: 1.2rem;
			}
			
			.search input {
				border-radius: 0.2rem;
				border: 1px solid #808080;
				padding-left: 0.3rem;
				background: url(img/图片5.png) no-repeat;
			}
			
			
			
			.header>.banner {
				margin-top: 0.44rem;
			}
			
			.nav {
				height: 0.8rem;
				width: 100%;
				display: flex;
				flex-flow: row;
				justify-content: space-around;
				padding-top: 0.05rem;
				text-align: center;
			}
			
			.first img,
			.sec img,
			.third img,
			.four img,
			.six img {
				width: 0.6rem;
				height: 0.7rem;
			}
			
			.navv {
				height: 0.6rem;
				width: 100%;
				display: flex;
				flex-flow: row;
				justify-content: space-around;
				padding-left: 0.1rem;
			}
			
			.one img,
			.two img,
			.ttt img {
				width: 1.22rem;
				height: 0.6rem;
			}
			
			.intro {
				width: 100%;
				height: 1.28rem;
				padding-top: 0.06rem;
				display: flex;
				flex-flow: row;
				justify-content: flex-start;
				font-size: 0.09rem;
				color: #333333;
			}
			
			.intro>img {
				width: 0.66rem;
				height: 1.15rem;
				margin-left: 0.07rem;
			}
			
 .t-ctn {
        width: 100%;
        height: 1.15rem;
        background: white;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .t-ctn .s-ctn {
        height:1.2rem;
        white-space: nowrap;
        font-size: 0;
    }

    .t-ctn .s-ctn div {
        font-size: 0.05rem;
        box-sizing: border-box;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        display: inline-block;
        width: 0.75rem;
        height: 1.15rem;   
    }
    
     .t-ctn .s-ctn div  img{
     	width: 0.8rem;
     	margin-left: 0.06rem;
        height: 0.79rem;
        margin-top: 0.06rem;
     }
      .t-ctn .s-ctn div p{
      	font-size: 0.1rem;
      	margin-top: 0.035rem;
      	text-align: center;
      }
      .t-ctn1 {
        width: 100%;
 
        background:white ;
        
        overflow-x: auto;
        overflow-y: hidden;
      border-top: 0.05rem solid #F0F0F0 ;
        border-left: 0.1rem solid #F0F0F0;
    }

    .t-ctn1 .s-ctn1 {
       
        white-space: nowrap;
        font-size: 0;
    }

    .t-ctn1 .s-ctn1 div {
        font-size: 0.05rem;
        box-sizing: border-box;
        white-space: normal;
        border: 0.006rem solid #F0F0F0;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        display: inline-block;
       
      
    }
    
     .t-ctn1 .s-ctn1 div  img{
     	width: 0.9rem;
     	margin-left: 0.09rem;
     	font-weight: bold;
        height: 0.89rem;
        margin-top: 0.06rem;
     }
      
    .t-ctn1 .s-ctn1 div span{
      	font-weight: bold;
     
      }
 		.show {
				height: 1rem;
				margin-top: -0.03rem;
			}
			.show img{
				width: 100%;
				height: 0.3rem;
			}
            #show{
            	padding-left: 0.05rem;
            }
			#show img {
				width: 1.22rem;
				height: 0.66rem;
				float: left;			
			}
		.miaosha{
			width: 100%;
			background:#FFEEE3;
			
		}
		.jishiqi{
			width: 100%;
			height: 0.4rem;
			background: #FFE3D7;
			margin-top: 0.09rem;
		}
		.jishiqi p{
			font-size: 0.18rem;
			line-height: 0.4rem;
		}
		.jishi{
		margin-left: 2.7rem;
		margin-top: -0.5rem;
		}
		.jishi div{
			float:left ;
		margin: 0.02rem;
		}
    .day,
    .hour,
    .minute,
    .second {
      border-radius: 20%;
      color: #fff;
      font-weight:bold;
      font-size: 0.1rem;
      text-align: center;
      width: 0.2rem;
      height:0.2rem;
      background: black;
    }
    	
    .jishi span{
    	margin-left: -1.4rem;
    	font-size: 0.13rem;
    
    	
    }

.tabClick {
		background:#FFEEE3;
	overflow: hidden;
	margin-top: 0rem;

}

.tabClick li {
	width: 30%;
	list-style: none;
	float: left;
	margin-left: 0.1rem;
	font-size: 0.12rem;
}

.tabClick li.active {
	color:red;
	transition: 0.1s;
	font-weight: bold
}

.tabCon {
	overflow: hidden;
	margin-top: -0.12rem;
}

.tabBox {
	position: relative
}

.tabList {
	word-break: break-all;
	width: 100%;
	  overflow-x: auto;
        overflow-y: hidden;
	float: left;	
	font-family: "Arial Black"
}
.kuai1{
	  white-space: nowrap;
	  width: 100%;
}
.kuai1 div {
        font-size: 0.05rem;
        box-sizing: border-box;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        display: inline-block;
        width: 1.1rem;
        border-radius: 3%;
        margin-top: 0.1rem;
      
        background: white;
    }
    .kuai1 img{
    	width: 1.1rem;
    	height: 0.3rem;

    	
    }
     .kuai1 div a img{
     	width: 1.1rem;
        height: 0.9rem;
        margin-top: 0.087rem;
            
     
     }
      .kuai1 div span:nth-of-type(2){
      	color: red;
      	font-size: 0.06rem;
      	margin-top: -0.5rem;
      	
      }

     .kuai1 div span:nth-of-type(3){
      	z-index: 190;
      	font-size: 0.05rem;
    color: white;
        margin-left: 0.36rem;
      position: relative;
      top:0.22rem;

      }
       .kuai1 div span:nth-of-type(4){
      	float:right;
      	 	color: #CCCCCC;
      }
      .kuai1 div span:nth-of-type(5){
      	color: #CCCCCC;
      }
      .xinpin{
				height: 1rem;
				
			}
			.xinpin img{
				width: 100%;
				height: 0.42rem;
				margin-top: 0.1rem;
				border-top: 0.07rem solid white;
			}

			.intro2 {
				width: 100%;
				height: 1.88rem;
				padding-top: 0.036rem;
				display: flex;
				flex-flow: row;
				justify-content: flex-start;
				font-size: 0.09rem;
				color: #333333;
			}
						
 .t-ctn2 {
        width: 100%;
        height: 1.88rem;
        background:#EDECFF;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .t-ctn2 .s-ctn2 {
        height:1.88rem;
        white-space: nowrap;
        font-size: 0;
    }

    .t-ctn2 .s-ctn2 div {
        font-size: 0.05rem;
        box-sizing: border-box;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        display: inline-block;
        width: 1.06rem; 
        height: 1.78rem;   

     
    }
    
     .t-ctn2 .s-ctn2 div  img{
     	width: 1rem;
        height: 1.7rem;
         border-radius: 5%;
        margin-top: 0.06rem;
        border-top: 0.07rem solid  #EDECFF;
     }
     .t-ctn2 .s-ctn2 div  img:first-of-type{
     	margin-left: 0.06rem;
     }
     
      .dapai{
				height: 1rem;
				margin-top: 1.4rem;
			}
			.dapai img{
				width: 100%;
				height: 0.42rem;
				margin-top: 0.11rem;
				border-top: 0.05rem solid #EDECFF;
			}
.dapai .t-ctn2 {
        width: 100%;
        height: 1.5rem;
        background:white;
        margin-top: -0.07rem;
        overflow-x: auto;
        overflow-y: hidden;
    }

   .dapai .t-ctn2 .s-ctn2 {
        height:1.5rem;
        white-space: nowrap;
        font-size: 0;
    }

  .dapai  .t-ctn2 .s-ctn2 div {
        font-size: 0.05rem;
        box-sizing: border-box;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        display: inline-block;
        width: 1.36rem; 
        height: 1.5rem;   

     
    }
    
    .dapai .t-ctn2 .s-ctn2 div  img{
     	width: 1.3rem;
        height: 1.4rem;
         border-radius: 5%;
         border-top: 0.07rem solid white;
        margin-top: 0.02rem;
     }
           .bangdan{
				height: 2rem;
			 margin-top:1.43rem;
			 background: white;
}
			.bangdan img{
				width: 100%;
				height: 0.42rem;
				margin-top:-0.47rem;				
			}
			#bangdan{
				width: 30%;
				background:#FFF7F2;
				height: 1.6rem;
				float: left;			
				border-radius:4%;
				border-top: 0.1rem solid #FFF7F2;	
				margin: 0.062rem;
			}
           #bangdan img:nth-of-type(1){
          	width: 0.18rem;
          	height: 0.18rem;
          	margin-top: -0.07rem;
          	border-top: 0rem;
          	margin-left: 0.2rem;
          }
          #bangdan span:nth-of-type(1){
          	color: red;
          	font-weight: bold;
          }
          #bangdan span:nth-of-type(2){
          	font-weight: bold;
          	z-index: 200;
          	margin-left: -0.85rem;
       margin-top: -0.09rem;
          	color: brown;
          	position: absolute;
          	
          }
          #bangdan span:nth-of-type(3){
          	margin-left: 0.2rem;
          	z-index: 200;
          	font-weight: 300;
          	color: brown;
         margin-top: -0.18rem;
          	position: absolute;
          }
            #bangdan img:nth-of-type(2){
          	width: 1rem;
          	height: 1rem;
          	border-top: 0rem;
          	margin-top: 0.1rem;
          	margin-left: 0.1rem;
          }
              #bangdan img:nth-of-type(3){
              	height: 0.7rem; 
          	border-top: 0rem;
          }
          .zhibo img{
          	width: 100%;
          	height: 0.5rem;
          }
                    .carousel.flexible .items {
	display: none;

}
	
			
			.cell {
				padding-left: 0.12rem;
				padding-right: 0.17rem;
				background: white;
				width: 100%;
				height: 10.9rem;
				text-align: center;
				
			}
			
			.title img{
				width: 100%;
				height: 0.5rem;
				margin-top: 0.05rem;
			
				
			}
.baohan{
  width: 100%;

  
  }

  #btns button {
  width: 25%;
  height: 30px;
  float: left;
  background:white;
  margin-top: -0.038rem;
  border: 0.05rem solid white;
  padding-bottom: 0.1rem;
  }


  #divs div {
  width: 100%;
  height: 5rem;
 
 

  }
.dibu {
	width: 50%;
	height:2.5rem;
background: white;
	float: left;
	

	

}
.dibu  img{
	width: 100%;
	height:1.5rem;
}
.dibu li{
margin-left: -0.29rem;
}
.dibu li:nth-of-type(2){
	padding-bottom: 0.1rem;
	font-size:15px;
	color: black;
}
.dibu li:nth-of-type(3){
font-size:14px;
	color: red;
}
.dibu li:nth-of-type(4){
	color:  #999999;
}
		 .footer{
       	position: fixed;
       	width: 100%;
       	left:0;
       	bottom: 0;
   
       	z-index: 5;
       	height: 0.5rem;
        background:white;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        line-height: 0.24rem;
       }
     .footer img{
     	width: 0.5rem;
     	height: 0.5rem;
     }

       .btn {
       	background:white;
            outline: none;
           z-index: 200;
           position: fixed;
           bottom: 200px;
           border: none;
           right: 10px;
		   display:block;     
    border-radius: 100%;
        }
 		