*{
			list-style: none;
		
		}
		.lun{
	width: 100%;
	height: 0.3rem;
	line-height: 0.3rem;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	position: fixed;
	text-align: justify;
	background:#4f469f;
	box-sizing: border-box;
	margin-left: -0.17rem;
	margin-top: 0.4rem;
}

.lun a {
	color:white;
	text-decoration: none;
	margin: auto 10px;
}
.lun a:first-of-type{
	border-bottom: 0.001rem solid black;
}
			.flexslider {
				position: relative;
				height: 3rem;
				overflow: hidden;
				
			}
			.flexslider img{
				width: 100%;
				height: 2.991rem;
				z-index: 10;
		
			}
		
			.slides {
				position: absolute;
				top: 1rem;
				left: 0.1rem;
				z-index: 30;
			}
			
			.slides li {
				list-style: none;
			}
			
			.slides img {
				width: 90%;
				height: 90%;
			}
			
	.tehui img{
		width: 100%;
		height: 0.5rem;
		margin-top: 0.26rem;
	}
			
			.flex-control-nav {
				position: absolute;
				top: 7rem;
				z-index: 2;
				width: 100%;
				text-align: center;
			}
			
			.flex-control-nav li {
				display: inline-block;
				width: 14px;
				height: 14px;
				margin: 0 5px;
				*display: inline;
				zoom: 1;
			}
			
			.flex-control-nav a {
				display: inline-block;
				width: 14px;
				height: 14px;
				line-height: 40px;
				overflow: hidden;
				cursor: pointer;
			}
			
			.flex-control-nav .flex-active {
				background-position: 0 0;
			}
			
			.flex-direction-nav {
				position: absolute;
				z-index: 3;
				width: 100%;
				top: 55%;
			}
			
			.flex-direction-nav li a {
				display: block;
				width: 50px;
				height: 50px;
				overflow: hidden;
				cursor: pointer;
				position: absolute;
			}
			
			html {
				font-size: 100px;
			}
			
			div {
				box-sizing: border-box;
			}
			
			body,
			input,
			i,
			a {
				padding: 0;
				margin: 0;
				text-decoration: none;
				outline: none;
				font-size: 0.12rem;
			}
			
			body {
				background: rgb(240, 240, 240);
			}
			
			.header>.top {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 10;
				height: 0.6rem;
				background: #FFFFFF;
				font-size: 0.14rem;
				color: white;
				position: fixed;
				width: 100%;
				text-align: center;
				padding-left: 0.17rem;
				padding-right: 0.17rem;
				line-height: 0.44rem;
			}
			
			.header:after {
				content: "";
				display: block;
				clear: both;
			}
			
			.top input {
				width: 2.96rem;
				
				position: absolute;
				top: 0.5rem;
				left: 0.4rem;
			}
			
			.top1 {
				width: 3.84rem;
				height: 0.01rem;
				position: absolute;
				background: #FFFFFF;
				left: -15px;
			}
			
			.top ul {
				margin-left: -0.2rem;
				margin-top: 0.01rem;
			}
			
			.top li {
				list-style: none;
				display: inline;
				color: #666666;
			}
			
			.top1 ul li:nth-of-type(2) {
				color: black;
				padding: 1.2rem;
			}
			
			.search input {
				border-radius: 0.2rem;
				border: 1px solid #808080;
				padding-left: 0.3rem;
				background: url(img/图片5.png) no-repeat;
			}
		
			.header>.banner {
				margin-top: 0.44rem;
			}
			
			.nav {
				height: 0.8rem;
				width: 100%;
				display: flex;				
				flex-flow: row;
				justify-content: space-around;
				padding-top: 0.05rem;
				text-align: center;
				margin-top:-1.5rem;
				z-index: 10;
				
			}
			.bbb img{
				width: 100%;
				height: 1.7rem;
				margin-top:-0.004rem;
			}
			.nav div{
			width: 20%;
			}
			.nav1{
				height: 0.45rem;
				width: 100%;
				display: flex;	
				z-index: 10;	
				flex-flow: row;
				justify-content: space-around;	
				text-align: center;
				
			}
		
			.first img,
			.sec img,
			.third img,
			.four img,
			.six img {
				padding-top: 0rem;
				width: 0.4rem;
				height: 0.4rem;
				
			}

			
			.navv {
				height: 0.6rem;
				width: 100%;
				display: flex;
				flex-flow: row;
				justify-content: space-around;
				padding-left: 0.1rem;
			}
			
			.one img,
			.two img,
			.ttt img {
				width: 1.22rem;
				height: 0.6rem;
			}
			
		
      .t-ctn1 {
        width: 100%;
        height: 1.74rem;
        background:#28C1F8;
        overflow-x: auto;
        overflow-y: hidden;
        text-align: center;
        border-left: 0.05rem solid #28C1F8;
    }

    .t-ctn1 .s-ctn1 {
        height:1.7rem;
        white-space: nowrap;
        font-size: 0;
    }

    .hezi{
        font-size: 0.05rem;
        box-sizing: border-box;
        white-space: normal;
        border: 0.003rem solid #28C1F8;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        display: inline-block;
        width: 1.13rem;
        background: white;
        height: 1.7rem;   
    }
    
.hezi img{
     	width: 1.2rem;

     	font-weight: bold;
        height: 1.05rem;
       margin-top: 0.09rem;
     
     }
        .hezi p{
      	font-size: 0.079rem;
     color: red;	
      margin-left: -0.7rem;
     margin-top: -0.01rem;
      }

    .hezi span{
      	font-weight: bold;

      }
.tehuidi img{
	width: 100%;
	height: 0.26rem;
}

 .bangdan{
 	width: 100%;
	height: 3rem;
}
.bangdan1 img{
	width: 100%;
	height: 0.6rem;
}
.bangdan2 img{
	width: 100%;
	height: 1.8rem;
}

.shuyun img{
	width:100%;
	height: 0.5rem;
	margin-top: -0.9rem;
}
	.navv {
		margin-top: -0.29rem;
				height: 1rem;
				width: 100%;
				background: #38A1FF;
				display: flex;
				flex-flow: row;
					
				justify-content: space-around;
			
			}
			
			.one img,
			.two img,
			.ttt img {
				width: 1.3rem;
				height: 0.7rem;
				margin-left: -0.07rem;
			}
          .zhibo img{
          	width: 100%;
          	height: 0.7rem;
          	border-top: 0.2rem solid white;
          		
          }
          .carousel.flexible .items {
	display: none;

}
			.cell {
				padding-left: 0.12rem;
				padding-right: 0.17rem;
				background: white;
				width: 100%;
				height: 11rem;
				text-align: center;
				
			}
			
			.title img{
				width: 100%;
				height: 0.5rem;
				margin-top: 0.05rem;
			
				
			}
.baohan{
  width: 100%;

  
  }

  #btns button {
  width: 25%;
  height: 30px;
  float: left;
  background:#FE813E;
  margin-top: -0.038rem;
  border: 0.05rem solid #FE813E;
  padding-bottom: 0.1rem;
  }


  #divs div {
  width: 100%;
  height: 5rem;
 
 

  }
.dibu {
	width: 50%;
	height:2.5rem;
background: white;
	float: left;
	

	

}
.dibu  img{
	width: 100%;
	height:1.5rem;
}
.dibu li{
margin-left: -0.29rem;
}
.dibu li:nth-of-type(2){
	padding-bottom: 0.1rem;
	font-size:15px;
	color: black;
}
.dibu li:nth-of-type(3){
font-size:14px;
	color: red;
}
.dibu li:nth-of-type(4){
	color:  #999999;
}
		 .footer{
       	position: fixed;
       	width: 100%;
       	left:0;
       	bottom: 0;
   
       	z-index: 5;
       	height: 0.5rem;
        background:white;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        line-height: 0.24rem;
       }
     .footer img{
     	width: 0.5rem;
     	height: 0.5rem;
     }


			